*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;


}

body{
    width: 100vw;
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   font-family: 'Inconsolata', monospace;
   background-color: rgb(242, 242, 242);



}

.bodyWrapper{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.clickWrapper{
    cursor: pointer;

}

a{
    margin: 5px 10px;
    text-decoration: none;
}

.green{
    color: green;
}

.navbar{

    width: 100%;
    height: 30px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;



    background-color: rgb(0, 0, 0);


}

.navbar a:hover{
    background-color: white;
    color: black;
}



header{
    width: 100%;
    background: url("./images/header_bg.jpg");
    height: 190px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}






img{
    width: 100%;

}





.productsWrapper{
    display: flex;
    width: 100%;
    margin: 30px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(242, 242, 242);



}

.homeWrapper{
    text-align: left;
}




.productCard{
    width: 260px;
    margin: 20px;
    padding: 5px;
    /* background-color: rgb(0, 0, 0); */
    color: black;
    border-radius: 10px;

    line-height: 25px;



}

.productCard:hover {
    transform: scale(1.02);



    }




.productCard img{
    border-radius: 5px;
}


.loginAdmin{

    display: flex;

    margin: 50px 0;

}

#createUser{
    display: flex;
    flex-direction: column;
}

.productsNavbar{

    text-align: center;
    background-color: rgb(27, 27, 27);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    height: 80px;


}

.productsNavbar a{
    text-decoration:none;
}

.productsNavbar a:hover{
    scale: 1.02;

    background-color: rgb(242, 242, 242);
    color: black;





}

.adminPageWrapper {

    width: 100%;

    border: 1px solid red;
}

#addProduct{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#addProduct input{
    height: 30px;
    margin: 5px;
}

.emailNewsletter{
    width: 800px;
    height: 50px;
    color: rgba(255, 255, 255, 0.756);



    background-color: rgba(0, 0, 0, 0.723);
     border-radius: 5px;

    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.855);

}

input:focus{
    outline:none!important;
}



.subscribe{
    height: 30px;
    width: 100px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.184);
    color: white;


}

.inline{
    display: block;
}

.registerUserWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;





}

.singleProductWrapper{

    display: flex;
    width: 70%;
    line-height: 30px;


}

.singleProductWrapper img{
    width: 300px;
}


.registerUserWrapper input {
    width: 250px;

}

.productLeftSide, .productRightSide{

    margin: 50px;

}



.newsletterWrapper{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 350px;
    background: url("./images/newsletter_background.jpg");
    line-height: 30px;
}

.newsletterWrapper img{
    z-index: -1;
}
.newsletter{

    color: white;
    width: 70%;



}
#newsletterForm{

    display: flex;
    flex-direction: column;

}
.cartWrapper {
    width: 80%;
    display: flex;
    margin: 25px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.236);
    font-size: 16px;


}

.cartWrapper img{
    width: 50px;
}

.checkoutProductRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;




}

.removeButton{
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.removeButton:hover{
    cursor: pointer;

    transform: rotate(360deg);
    transition-duration: 300ms;
}




.total{
    width: 80%;
    text-align: right;
    font-weight: bold;
    margin: 40px 0;

}

.buyButton{
    width: 50px;
    height: 30px;
    border: none;
    background-color: rgb(4, 157, 63);
    color: white;
    box-shadow: 10px 12px 0px 5px #000000;
    margin-top: 10px;







}

.buyNow{
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.grayBg{
    background-color: green;
}

.buyButton:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 6px 5px 0px 0px rgb(4, 157, 63);
    transition-duration: 1s;

}

.buttonStatus{
    background-color: pink;
}

a:visited{
    color: white;
}



.buyWrapper{


    text-align: right;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;



}

footer{

    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 25px 0;
}
.socialMedia, .conditions, .aboutUsFooter{
    width: 20%;

    text-align: left;
    line-height: 25px;

}
